<!-- 导航栏 -->
<!--<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">-->
<!--	<div class="container">-->
<!--		<a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="assets/img/navbar-logo.svg" alt="" /></a>-->
<!--		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">-->
<!--			Menu-->
<!--			<i class="fas fa-bars ml-1"></i>-->
<!--		</button>-->
<!--		<div class="collapse navbar-collapse" id="navbarResponsive">-->
<!--			<ul class="navbar-nav text-uppercase ml-auto">-->
<!--				<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#services">Services</a></li>-->
<!--				<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a></li>-->
<!--				<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>-->
<!--				<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#team">Team</a></li>-->
<!--				<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>-->
<!--			</ul>-->
<!--		</div>-->
<!--	</div>-->
<!--</nav>-->

<nav id="quanju_nav" class="navbar navbar-expand-lg bg-info navbar-dark" style="padding-left: 5%;">

	<div class="container">
		<a class="navbar-brand" href="http://www.inbirg.com/pertorg/" target="view_window">
			<!-- <img src="/mlserver_static/img/pertorg_logo5.png" alt="logo" style="width:70px;"> -->
		</a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
		 aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			MENU
			<i class="fas fa-bars ml-1"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive" style="flex-grow: unset;">

			<ul class="navbar-nav ">
				<li class="nav-item">
					<a id="nav_home" class="nav-link js-scroll-trigger" href="/maler/home">HOME</a>
				</li>
<!-- 				<li class="nav-item">
					<a id="nav_search" class="nav-link js-scroll-trigger" href="/pertorg/adv_search">SEARCH</a>
				</li>
				<li class="nav-item">
					<a id="nav_browse" class="nav-link js-scroll-trigger" href="/pertorg/browse">BROWSE</a>
				</li> -->
				<li class="nav-item">
					<a id="nav_tools" class="nav-link js-scroll-trigger" href="/maler/analysis">ANALYSIS</a>
					<!-- <div class="bg-dark dropdown-menu">
				<a class="dropdown-item" style="color: white;" href="/ddpd/analysis/druglike">One Drug Feature Test</a>
				<a class="dropdown-item" style="color: white;" href="/ddpd/analysis/druglike_analysis">One Class Drug Feature Test</a>
			</div> -->
				</li>
				<li class="nav-item">
					<a id="nav_predict" class="nav-link js-scroll-trigger" href="/maler/predict">PREDICT</a>
				</li>
				<!-- <li class="nav-item dropdown">
			<a id="nav_statistic" class="nav-link dropdown-toggle" data-toggle="dropdown" >STATISTIC</a>
			<div class="bg-dark dropdown-menu">
				<a class="dropdown-item" style="color: white;" href="/ddpd/statistic/static_codedis">Code Distribution</a>
				<a class="dropdown-item" style="color: white;" href="/ddpd/statistic">Data Histogram</a>
			</div>
		</li> -->
<!-- 				<li class="nav-item">
					<a id="nav_download" class="nav-link js-scroll-trigger" href="/pertorg/download">DOWNLOAD</a>
				</li> -->
<!-- 				<li class="nav-item">
					<a id="nav_submit" class="nav-link js-scroll-trigger" href="/pertorg/submit">SUBMIT</a>
				</li> -->
				<li class="nav-item">
					<a id="nav_help" class="nav-link js-scroll-trigger" href="/maler/help">HELP</a>
				</li>

			</ul>
		</div>
		<a class="navbar-brand" href="http://www.inbirg.com/" target="view_window">
			<img src="/mlserver_static/img/InBiRG-noborder.png" alt="logo" style="width:100px;">
		</a>
	</div>

</nav>
<style>
	*{font-size: 16px;}
 	.navbar-dark .navbar-nav .nav-link{color: white;}
 	.navbar-dark .navbar-nav .nav-link.active{color: #555555;}
	
	#quanju_nav{font-weight: bolder;}
	#quanju_nav ul li a{font-size: 20px;}
	#quanju_nav .navbar-toggler {
	  padding: 0.75rem;
	  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	  font-size: 1rem;
	  color: #fff;
	  text-transform: uppercase;
	  background-color: #fed136;
	  border: 0;
	}
	
</style>
<script type="text/javascript">
	$(document).ready(function() {
		$("body").addClass("bg-light");

	});
</script>
