<!-- statistic页面上的导航页签 -->
<ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-bottom: 10px;">
	<li class="nav-item">
		<a class="nav-link" id="gene_nav" href="/pertorg/gene_search">Search by Gene</a>
	</li>
	<!-- <li class="nav-item">
					<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
					 aria-selected="false">Structure Search</a>
				</li> -->
	<li class="nav-item">
		<a class="nav-link" id="organism_nav" href="/pertorg/organism_search">Search by Organism</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" id="tissuetype_nav" href="/pertorg/tissuetype_search">Search by Tissue Type</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" id="edittype_nav" href="/pertorg/edittype_search">Search by Edit Type</a>
	</li>
</ul>
