<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>ANALYSIS</title>
		{% include 'public_templates/bootstrap.html' %}
		<style type="text/css">
			#home span {
				background-color: aliceblue;
			}

			.btn.btn-outline-danger {
				height: 38px;
				/* margin-top: 30px; */
			}

			#one_class_test_form .form-row {
				margin: 0;
				padding: 0;
				height: 40px;
			}

			/* table tbody {
				font-size: 5px;
			} */
			table * {
				font-size: 15px;
			}

			.card {
				cursor: pointer;
				height: 100%;
			}

			.f_white {
				color: black;
			}

			.hidden {
				display: none;
			}

			.card:hover {
				border: 2px solid #0d6efd;
			}

			.select {
				border: 2px solid #0d6efd;
			}

			.select .card-body {
				background-color: #e8f1ff;
			}

			.md-3 {
				margin-bottom: 15px;
			}
		</style>
		<script>
			$(document).ready(function(){
				// 导航栏
				$("#nav_tools").addClass("active");
				$("tbody").addClass("bg-white");
				$("#page_title").text('ANALYSIS');
			});
		</script>
	</head>
	<body>
		<!-- 导航栏 -->
		{% include 'public_templates/nav_tem.html' %}
		<!-- 主体 -->
		<div class="container col-9">
			<br />
			<h4>Step1</h4>
			<hr />
			<div class="row row-cols-1 row-cols-md-3">
				<div class="col md-3">
					<div class="card select" id="model_bclass" onclick="model_selectactive(this.id)">
						<div class="border-bottom" style="padding: 20px">
							<!-- <img src="../img/feature_extraction.jpg" class="card-img-top" alt="..."> -->
						</div>
						<div class="card-body">
							<h6 class="card-title">Binary classification</h6>
							<p class="card-text m-0">description</p>
							<p class="card-text m-0">description</p>
						</div>
					</div>
				</div>

				<div class="col md-3">
					<div class="card" id="model_mclass" onclick="model_selectactive(this.id)">
						<div class="border-bottom" style="padding: 20px">
							<!-- <img src="../img/data_generation.jpg" class="card-img-top" alt="..."> -->
						</div>
						<div class="card-body">
							<h6 class="card-title">Multiple classficatin</h6>
							<p class="card-text m-0">description</p>
							<p class="card-text m-0">description</p>
						</div>
					</div>
				</div>

				<div class="col md-3">
					<div class="card" id="model_reg" onclick="model_selectactive(this.id)">
						<div class="border-bottom" style="padding: 20px">
							<!-- <img src="../img/classification.jpg" class="card-img-top" alt="..."> -->
						</div>
						<div class="card-body">
							<h6 class="card-title">Regression</h6>
							<p class="card-text m-1">description</p>
							<p class="card-text m-0"> * description * </p>
						</div>
					</div>
				</div>

				<div class="col md-3">
					<div class="card" id="model_sur" onclick="model_selectactive(this.id)">
						<div class="border-bottom" style="padding: 20px">
							<!-- <img src="../img/regression.jpg" class="card-img-top" alt="..."> -->
						</div>
						<div class="card-body">
							<h6 class="card-title"> Survival </h6>
							<p class="card-text m-1">description</p>
							<p class="card-text m-0"> * description * </p>
						</div>
					</div>
				</div>
			</div>
			<br />
			<h4>Step2</h4>
			<hr />
			<form action="classification" method="POST" id="form_step23" enctype="multipart/form-data">
				<div class="col-9"">
					
					<div class="row">

						{% csrf_token %}
						<!-- <div class="custom-file mb-3">
							  <input type="file" class="custom-file-input" id="customFile" name="filename">
							  <label class="custom-file-label" for="customFile">Choose Profile</label>
						</div> -->
						<h6>Profile: <input type="file" name="upload_profile" /></h6>
						<h6>Label: <input type="file" name="upload_label" /></h6>


						<div class="row">
							<h5>OR</h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<h6>ProjectID:<input type="text" name="projectid"></h6>
						</div>
						<!-- <input type="submit" value="submit" />
						<input type="submit" value="EXAMPLE(ZIP)" /> -->
					</div>
					
				</div>
				
				<br />
				<h4>Step3</h4>
				<hr>
				<div class="col-9">
					<div>
						{% csrf_token %}
						<input name="select_model" id="select_model" style="display: none;" value="model_bclass"/>
						<!-- <input name="select_mode" id="select_mode" style="display: none;" value=""/> -->
						<input name="select_child_model" id="select_child_model" style="display: none;" value="task_naivebayes"/>
						<div class="row">
							<h5>Feature Selsect Method</h5>
							<!-- <input type="radio" name="pick_method" value="selectbest" checked />selectbest -->
						</div>
						<br />
						<div class="row">
							<input type="radio" name="feature_select_method" value="TopK" checked />TopK
							<input type="radio" name="feature_select_method" value="FSS" />FSS
							<input type="radio" name="feature_select_method" value="BSS" />BSS
						</div>
					</div>
					
				</div>
			
			
			<br />
			<h4>Step4</h4>
			<hr>
			<div class="row">
				<div class="col-6">
					<button type="button" id="button_oc" onclick="" class="btn btn-info" style="width: 100%;background: #99c3c7;border: #99c3c7;height: 40.25px;">One-click
						Analysis</button>
				</div>
				<div class="col-6">
					<button type="button" id="button_cp" onclick="" class="btn btn-info" style="width: 100%;background: #99c3c7;border: #99c3c7;height: 40.25px;">Customize
						Parameters Analysis</button>
				</div>
			</div>
			<br />
			<div id="cp_model_select">
				<div id="classification_child_model">
					<div class="row row-cols-1 row-cols-md-3">
						<div class="col md-3">
							<div class="card select" id="task_naivebayes" onclick="cp_model_selectactive(this.id)">
								<div class="border-bottom" style="padding: 20px">
									<!-- <img src="../img/feature_extraction.jpg" class="card-img-top" alt="..."> -->
								</div>
								<div class="card-body">
									<h6 class="card-title">Naive Bayes</h6>
									<p class="card-text m-0">description</p>
									<p class="card-text m-0">description</p>
								</div>
							</div>
						</div>
					
						<div class="col md-3">
							<div class="card" id="task_svm" onclick="cp_model_selectactive(this.id)">
								<div class="border-bottom" style="padding: 20px">
									<!-- <img src="../img/data_generation.jpg" class="card-img-top" alt="..."> -->
								</div>
								<div class="card-body">
									<h6 class="card-title">SVM</h6>
									<p class="card-text m-0">description</p>
									<p class="card-text m-0">description</p>
								</div>
							</div>
						</div>
					
						<div class="col md-3">
							<div class="card" id="task_randomforest" onclick="cp_model_selectactive(this.id)">
								<div class="border-bottom" style="padding: 20px">
									<!-- <img src="../img/classification.jpg" class="card-img-top" alt="..."> -->
								</div>
								<div class="card-body">
									<h6 class="card-title">RandomForest</h6>
									<p class="card-text m-1">description</p>
									<p class="card-text m-0"> * description * </p>
								</div>
							</div>
						</div>
					
						<div class="col md-3">
							<div class="card" id="task_logistic" onclick="cp_model_selectactive(this.id)">
								<div class="border-bottom" style="padding: 20px">
									<!-- <img src="../img/regression.jpg" class="card-img-top" alt="..."> -->
								</div>
								<div class="card-body">
									<h6 class="card-title"> Logistic </h6>
									<p class="card-text m-1">description</p>
									<p class="card-text m-0"> * description * </p>
								</div>
							</div>
						</div>
					</div>
					<div class="row row-cols-1 row-cols-md-3">
						<div class="col md-3">
							<div class="card" id="task_knn" onclick="cp_model_selectactive(this.id)">
								<div class="border-bottom" style="padding: 20px">
									<!-- <img src="../img/regression.jpg" class="card-img-top" alt="..."> -->
								</div>
								<div class="card-body">
									<h6 class="card-title"> KNN </h6>
									<p class="card-text m-1">description</p>
									<p class="card-text m-0"> * description * </p>
								</div>
							</div>
						</div>
					
						<div class="col md-3">
							<div class="card" id="task_xgboost" onclick="cp_model_selectactive(this.id)">
								<div class="border-bottom" style="padding: 20px">
									<!-- <img src="../img/regression.jpg" class="card-img-top" alt="..."> -->
								</div>
								<div class="card-body">
									<h6 class="card-title"> XGBoost </h6>
									<p class="card-text m-1">description</p>
									<p class="card-text m-0"> * description * </p>
								</div>
							</div>
						</div>
					
						<div class="col md-3">
							<div class="card" id="task_lightgbm" onclick="cp_model_selectactive(this.id)">
								<div class="border-bottom" style="padding: 20px">
									<!-- <img src="../img/regression.jpg" class="card-img-top" alt="..."> -->
								</div>
								<div class="card-body">
									<h6 class="card-title"> lightGBM </h6>
									<p class="card-text m-1">description</p>
									<p class="card-text m-0"> * description * </p>
								</div>
							</div>
						</div>
					
						<div class="col md-3">
							<div class="card" id="task_adaboost" onclick="cp_model_selectactive(this.id)">
								<div class="border-bottom" style="padding: 20px">
									<!-- <img src="../img/regression.jpg" class="card-img-top" alt="..."> -->
								</div>
								<div class="card-body">
									<h6 class="card-title"> Adaboost </h6>
									<p class="card-text m-1">description</p>
									<p class="card-text m-0"> * description * </p>
								</div>
							</div>
						</div>
					</div>
					<div class="row ">
						<div class="col-3">
							<div class="card" id="task_decisiontree" onclick="cp_model_selectactive(this.id)">
								<div class="border-bottom" style="padding: 20px">
									<!-- <img src="../img/regression.jpg" class="card-img-top" alt="..."> -->
								</div>
								<div class="card-body">
									<h6 class="card-title"> DecisionTree </h6>
									<p class="card-text m-1">description</p>
									<p class="card-text m-0"> * description * </p>
								</div>
							</div>
						</div>
					
						<div class="col-3">
							<div class="card" id="task_gbdt" onclick="cp_model_selectactive(this.id)">
								<div class="border-bottom" style="padding: 20px">
									<!-- <img src="../img/regression.jpg" class="card-img-top" alt="..."> -->
								</div>
								<div class="card-body">
									<h6 class="card-title"> GBDT </h6>
									<p class="card-text m-1">description</p>
									<p class="card-text m-0"> * description * </p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="regression_child_model">
					<div class="row row-cols-1 row-cols-md-3">
						<div class="col md-3">
							<div class="card select" id="task_linearregression" onclick="cp_model_selectactive(this.id)">
								<div class="border-bottom" style="padding: 20px">
									<!-- <img src="../img/feature_extraction.jpg" class="card-img-top" alt="..."> -->
								</div>
								<div class="card-body">
									<h6 class="card-title">LinearRegression</h6>
									<p class="card-text m-0">description</p>
									<p class="card-text m-0">description</p>
								</div>
							</div>
						</div>
					
						<div class="col md-3">
							<div class="card" id="task_regsvm" onclick="cp_model_selectactive(this.id)">
								<div class="border-bottom" style="padding: 20px">
									<!-- <img src="../img/data_generation.jpg" class="card-img-top" alt="..."> -->
								</div>
								<div class="card-body">
									<h6 class="card-title">SVM</h6>
									<p class="card-text m-0">description</p>
									<p class="card-text m-0">description</p>
								</div>
							</div>
						</div>
					
						<div class="col md-3">
							<div class="card" id="task_ridge" onclick="cp_model_selectactive(this.id)">
								<div class="border-bottom" style="padding: 20px">
									<!-- <img src="../img/classification.jpg" class="card-img-top" alt="..."> -->
								</div>
								<div class="card-body">
									<h6 class="card-title">Ridge</h6>
									<p class="card-text m-1">description</p>
									<p class="card-text m-0"> * description * </p>
								</div>
							</div>
						</div>
					
						<div class="col md-3">
							<div class="card" id="task_lasso" onclick="cp_model_selectactive(this.id)">
								<div class="border-bottom" style="padding: 20px">
									<!-- <img src="../img/regression.jpg" class="card-img-top" alt="..."> -->
								</div>
								<div class="card-body">
									<h6 class="card-title"> Lasso </h6>
									<p class="card-text m-1">description</p>
									<p class="card-text m-0"> * description * </p>
								</div>
							</div>
						</div>
					</div>
					<div class="row row-cols-1 row-cols-md-3">
						<div class="col md-3">
							<div class="card" id="task_regdecisiontree" onclick="cp_model_selectactive(this.id)">
								<div class="border-bottom" style="padding: 20px">
									<!-- <img src="../img/regression.jpg" class="card-img-top" alt="..."> -->
								</div>
								<div class="card-body">
									<h6 class="card-title"> DecisionTree </h6>
									<p class="card-text m-1">description</p>
									<p class="card-text m-0"> * description * </p>
								</div>
							</div>
						</div>
					
						<div class="col md-3">
							<div class="card" id="task_regxgboost" onclick="cp_model_selectactive(this.id)">
								<div class="border-bottom" style="padding: 20px">
									<!-- <img src="../img/regression.jpg" class="card-img-top" alt="..."> -->
								</div>
								<div class="card-body">
									<h6 class="card-title"> XGBoost </h6>
									<p class="card-text m-1">description</p>
									<p class="card-text m-0"> * description * </p>
								</div>
							</div>
						</div>
					
						<div class="col md-3">
							<div class="card" id="task_regrandomforest" onclick="cp_model_selectactive(this.id)">
								<div class="border-bottom" style="padding: 20px">
									<!-- <img src="../img/regression.jpg" class="card-img-top" alt="..."> -->
								</div>
								<div class="card-body">
									<h6 class="card-title"> RandomForest </h6>
									<p class="card-text m-1">description</p>
									<p class="card-text m-0"> * description * </p>
								</div>
							</div>
						</div>
					
						<div class="col md-3">
							<div class="card" id="task_regadaboost" onclick="cp_model_selectactive(this.id)">
								<div class="border-bottom" style="padding: 20px">
									<!-- <img src="../img/regression.jpg" class="card-img-top" alt="..."> -->
								</div>
								<div class="card-body">
									<h6 class="card-title"> Adaboost </h6>
									<p class="card-text m-1">description</p>
									<p class="card-text m-0"> * description * </p>
								</div>
							</div>
						</div>
					</div>
					<div class="row ">
						<div class="col-3">
							<div class="card" id="task_gradientboost" onclick="cp_model_selectactive(this.id)">
								<div class="border-bottom" style="padding: 20px">
									<!-- <img src="../img/regression.jpg" class="card-img-top" alt="..."> -->
								</div>
								<div class="card-body">
									<h6 class="card-title"> GradientBoost </h6>
									<p class="card-text m-1">description</p>
									<p class="card-text m-0"> * description * </p>
								</div>
							</div>
						</div>
					
					</div>
				</div>
				<div id="survival_child_model">
					<div class="row row-cols-1 row-cols-md-3">
						<div class="col md-3">
							<div class="card select" id="task_survivalsvm" onclick="cp_model_selectactive(this.id)">
								<div class="border-bottom" style="padding: 20px">
									<!-- <img src="../img/feature_extraction.jpg" class="card-img-top" alt="..."> -->
								</div>
								<div class="card-body">
									<h6 class="card-title">SurvivalSVM</h6>
									<p class="card-text m-0">description</p>
									<p class="card-text m-0">description</p>
								</div>
							</div>
						</div>
					
						<div class="col md-3">
							<div class="card" id="task_survivaltree" onclick="cp_model_selectactive(this.id)">
								<div class="border-bottom" style="padding: 20px">
									<!-- <img src="../img/data_generation.jpg" class="card-img-top" alt="..."> -->
								</div>
								<div class="card-body">
									<h6 class="card-title">SurvivalTree</h6>
									<p class="card-text m-0">description</p>
									<p class="card-text m-0">description</p>
								</div>
							</div>
						</div>
					
						<div class="col md-3">
							<div class="card" id="task_extrasurvivaltrees" onclick="cp_model_selectactive(this.id)">
								<div class="border-bottom" style="padding: 20px">
									<!-- <img src="../img/classification.jpg" class="card-img-top" alt="..."> -->
								</div>
								<div class="card-body">
									<h6 class="card-title">ExtraSurvivalTrees</h6>
									<p class="card-text m-1">description</p>
									<p class="card-text m-0"> * description * </p>
								</div>
							</div>
						</div>
					
						<div class="col md-3">
							<div class="card" id="task_randomsurvivalforest" onclick="cp_model_selectactive(this.id)">
								<div class="border-bottom" style="padding: 20px">
									<!-- <img src="../img/regression.jpg" class="card-img-top" alt="..."> -->
								</div>
								<div class="card-body">
									<h6 class="card-title"> RandomSurvivalForest </h6>
									<p class="card-text m-1">description</p>
									<p class="card-text m-0"> * description * </p>
								</div>
							</div>
						</div>
					</div>
					<div class="row ">
						<div class="col-3">
							<div class="card" id="task_gradientboostingsurvival" onclick="cp_model_selectactive(this.id)">
								<div class="border-bottom" style="padding: 20px">
									<!-- <img src="../img/regression.jpg" class="card-img-top" alt="..."> -->
								</div>
								<div class="card-body">
									<h6 class="card-title"> GradientBoostingSurvival </h6>
									<p class="card-text m-1">description</p>
									<p class="card-text m-0"> * description * </p>
								</div>
							</div>
						</div>
					
					</div>
					
				</div>
			</div>
			
			<div id="cp_model_detail" class="cp_model_detail">
				<hr />
				<div id="detail_svm">
					<h5>Parameters of SVM</h5>
					<div class="row">
						<div class="col-3">
							<label for="exampleFormControlSelect1">kernels</label>
							<select name="svm_kernel" class="form-control" id="svm_kernel" required="required" onchange="svm_select()">
								<option value="linear">linear</option>
								<option value="poly">poly</option>
								<option value="sigmoid">sigmoid</option>
								<option value="rbf">rbf</option>
							</select>
						</div>
						<div class="col-3">
							<label for="exampleFormControlSelect1">c</label>
							<input name="svm_c" type="text" class="form-control" id="svm_c" onblur='data_check(this)' placeholder="" value="">
						</div>
						<div class="col-3">
							<label for="exampleFormControlSelect1">degree</label>
							<input name="svm_degree" type="text" class="form-control" id="svm_degree" onblur='data_check(this)' placeholder=""
							 disabled="disabled" value="">
						</div>
						<div class="col-3">
							<label for="exampleFormControlSelect1">coef</label>
							<input name="svm_coef" type="text" class="form-control" id="svm_coef" onblur='data_check(this)' placeholder=""
							 disabled="disabled" value="">
						</div>
					</div>
				</div>
				<div id="detail_naivebayes">
					<h5>Parameters of Naive Bayes</h5>
				</div>
			</div>
			</form>
			<br />
			<button type="button" id="button_submit" onclick="form_sub()" class="btn btn-info" style="width: 100%;">Submit</button>
			<br />
			<br />
			<br />
			<br />
		</div>
		<!-- 底部 -->
		{% include 'public_templates/footer.html' %}
		<script>
			function model_selectactive(id) {
				$("*[id^=model_]").attr('class','card');
				document.getElementById(id).className = 'card select';
				document.getElementById('select_model').value = id;
			}
			
			function cp_model_selectactive(id) {
				$("*[id^=task_]").attr('class','card');
				document.getElementById(id).className = 'card select';
				document.getElementById('select_child_model').value = id;
			}
			function form_sub() {
				$("#form_step23").submit()
			}
			
			function svm_select() {
				var select = document.getElementById("svm_kernel");
				var sv = select.value;
				var c = document.getElementById("svm_c");
				var degree = document.getElementById("svm_degree");
				var coef = document.getElementById("svm_coef");
				switch (sv) {
					
					case "linear":
						c.removeAttribute("disabled")
						degree.removeAttribute("value")
						coef.removeAttribute("value")
						degree.setAttribute("disabled", "disabled")
						coef.setAttribute("disabled", "disabled")
						break;
					case "poly":
						c.removeAttribute("disabled")
						degree.removeAttribute("disabled")
						coef.removeAttribute("disabled")
						break;
					case "sigmoid":
						c.removeAttribute("disabled")
						degree.setAttribute("disabled", "disabled")
						coef.removeAttribute("disabled")
						break;
					case "rbf":
						c.removeAttribute("disabled")
						degree.setAttribute("disabled", "disabled")
						coef.setAttribute("disabled", "disabled")
						break;
					default:
						alert("error");
				}
			}
			
			$(document).ready(function() {
				$("#button_submit").hide()
				$("#cp_model_select").hide()
				$("#cp_model_detail").hide()
				
				$("#survival_child_model").hide()
				$("#regression_child_model").hide()
				
				
				$("#button_oc").click(function() {
					var temp_action = $("#form_step23").attr("action")
					var temp_action = (temp_action + "_oc_result").replace("_cp_result","")
					$("#form_step23").attr("action",temp_action)
					$(this).attr("style", "width: 100%;");
					$("#button_cp").attr("style", "width: 100%;background: #99c3c7;border: #99c3c7;height: 40.25px;");
					$("#cp_model_select").hide()
					$("#button_submit").show()
					$(".cp_model_detail").hide()
				})

				$("#button_cp").click(function() {
					var temp_action = $("#form_step23").attr("action")
					var temp_action = (temp_action + "_cp_result").replace("_oc_result","")
					$("#form_step23").attr("action",temp_action)
					$(this).attr("style", "width: 100%;");
					$("#button_oc").attr("style", "width: 100%;background: #99c3c7;border: #99c3c7;height: 40.25px;");
					$("#button_submit").hide()
					$("#cp_model_select").show()
					$("#cp_model_detail").show()
					$("#detail_svm").hide();
					$("#button_submit").show()
				})
				
				$("#task_svm").click(function() {
					$("*[id^=detail_]").hide();
					$("#detail_svm").show();
				})
				
				$("#task_naivebayes").click(function() {
					$("*[id^=detail_]").hide();
					$("#detail_naivebayes").show();
				})
				
				$("#model_bclass").click(function(){
					$("#classification_child_model").show()
					$("#regression_child_model").hide()
					$("#survival_child_model").hide()
					
					var temp_action = $("#form_step23").attr("action")
					var temp_action = ("classification_" + temp_action).replace("_classification","").replace("_regression","").replace("_survival","")
					$("#form_step23").attr("action",temp_action)
					$("#select_child_model").val("task_naivebayes")
					$("*[id^=task_]").attr('class','card');
					document.getElementById('task_naivebayes').className = 'card select';
				})
				
				$("#model_mclass").click(function(){
					$("#classification_child_model").show()
					$("#regression_child_model").hide()
					$("#survival_child_model").hide()
					
					var temp_action = $("#form_step23").attr("action")
					var temp_action = ("classification_" + temp_action).replace("_classification","").replace("_regression","").replace("_survival","")
					$("#form_step23").attr("action",temp_action)
					$("#select_child_model").val("task_naivebayes")
					$("*[id^=task_]").attr('class','card');
					document.getElementById('task_naivebayes').className = 'card select';
				})
				
				$("#model_reg").click(function(){
					$("#regression_child_model").show()
					$("#classification_child_model").hide()
					$("#survival_child_model").hide()
					
					var temp_action = $("#form_step23").attr("action")
					var temp_action = ("regression_" + temp_action).replace("_classification","").replace("_regression","").replace("_survival","")
					$("#form_step23").attr("action",temp_action)
					$("#select_child_model").val("task_linearregression")
					$("*[id^=task_]").attr('class','card');
					document.getElementById('task_linearregression').className = 'card select';
				})
				
				$("#model_sur").click(function(){
					$("#survival_child_model").show()
					$("#classification_child_model").hide()
					$("#regression_child_model").hide()
					
					var temp_action = $("#form_step23").attr("action")
					var temp_action = ("survival_" + temp_action).replace("_classification","").replace("_regression","").replace("_survival","")
					$("#form_step23").attr("action",temp_action)
					$("#select_child_model").val("task_survivalsvm")
					$("*[id^=task_]").attr('class','card');
					document.getElementById('task_survivalsvm').className = 'card select';
				})
			})
			
			
		</script>
	</body>
</html>
