<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>PREDICT</title>
		{% include 'public_templates/bootstrap.html' %}
		<style type="text/css">
			#home span {
				background-color: aliceblue;
			}
		
			.btn.btn-outline-danger {
				height: 38px;
				/* margin-top: 30px; */
			}
		
			#one_class_test_form .form-row {
				margin: 0;
				padding: 0;
				height: 40px;
			}
		
			/* table tbody {
				font-size: 5px;
			} */
			table * {
				font-size: 15px;
			}
			
			.card {
				cursor: pointer;
				height: 100%;
			}
			
			.f_white {
				color: black;
			}
			
			.hidden {
				display: none;
			}
			
			.card:hover {
				border: 2px solid #0d6efd;
			}
			
			.select {
				border: 2px solid #0d6efd;
			}
			
			.select .card-body {
				background-color: #e8f1ff;
			}
			
			.md-3 {
				margin-bottom: 15px;
			}
			
			table
			{
			border-collapse: collapse;
			margin: 1px,1px,1px,1px;
			text-align: center;
			}
			table td, table th
			{
			border: 2px solid #cad9ea;
			color: #666;
			height: 25px;
			}
			table thead th
			{
			background-color: #17a2b8;
			width: auto;
			height: 50px;
			color: white;
			}
			table tr:nth-child(odd)
			{
			background: #fff;
			}
			table tr:nth-child(even)
			{
			background: #f0f1f2;
			}
			
			
			
		</style>
		<script>
			$(document).ready(function(){
				// 导航栏
				$("#nav_predict").addClass("active");
				$("tbody").addClass("bg-white");
				$("#page_title").text('PREDICT');
			});
		</script>
	</head>
	<body>
		<!-- 导航栏 -->
		{% include 'public_templates/nav_tem.html' %}
		<!-- 主体 -->
		<div class="container col-9">
			<br />
			<h4>Step1: Please select an analysis mode.</h4>
			<hr />
			
			<div class="row row-cols-1 row-cols-md-3">
				<div class="col md-3">
					<div class="card" id="model_bclass" onclick="">
						<div class="border-bottom" style="padding: 20px">
							<p class=class="card-img-top" style="text-align:center" ><img src='/mlserver_static/img/binary.png' width="200" height="200"></p>
						</div>
						<div class="card-body">
							<h6 class="card-title" style="text-align:center">Binary classification</h6>
							<p class="card-title" style="font-size: 16px" >The process of dividing new observations into distinct two categories based on the features of a set of input data.</p>
							<!--<p class="card-text m-0">description</p> -->
							<!--<p class="card-text m-0">description</p> -->
						</div>
					</div>
				</div>
			
				<div class="col md-3">
					<div class="card" id="model_mclass" onclick="">
						<div class="border-bottom" style="padding: 20px">
							<p class=class="card-img-top" style="text-align:center"><img src='/mlserver_static/img/muliti.png' width="200" height="200"></p>
						</div>
						<div class="card-body">
							<h6 class="card-title" style="text-align:center">Multiclass classfication</h6>
							<p class="card-title" style="font-size: 16px" >The process of dividing new observations into distinct at least three categories based on the features of a set of input data.</p>
							<!--<p class="card-text m-0">description</p> -->
							<!--<p class="card-text m-0">description</p> -->
						</div>
					</div>
				</div>
			
				<div class="col md-3">
					<div class="card" id="model_reg" onclick="">
						<div class="border-bottom" style="padding: 20px">
							<p class=class="card-img-top" style="text-align:center"><img src='/mlserver_static/img/regression.png' width="200" height="200"></p>
						</div>
						<div class="card-body">
							<h6 class="card-title" style="text-align:center">Regression</h6>
							<p class="card-title" style="font-size: 16px" >The process of exploring the relationships between dependent variables (labels) and a series of  indenpendent variables (features).</p>
							<!--<p class="card-text m-0">description</p> -->
							<!--<p class="card-text m-0">description</p> -->
						</div>
					</div>
				</div>
			
				<div class="col md-3">
					<div class="card" id="model_sur" onclick="">
						<div class="border-bottom" style="padding: 20px">
							<p class=class="card-img-top" style="text-align:center"><img src='/mlserver_static/img/survival.png' width="200" height="200"></p>
						</div>
						<div class="card-body">
							<h6 class="card-title" style="text-align:center"> Survival </h6>
							<p class="card-title" style="font-size: 16px" >The process of establishing the connection between covariates (features) and the time of events (labels) to predict the risk of future events. </p>
							<!--<p class="card-text m-0">description</p> -->
							<!--<p class="card-text m-0">description</p> -->
						</div>
					</div>
				</div>
			</div>
			<br />
			<h4>Step2: Please upload the files.</h4>
			<hr />
			<form action="predict_result" method="POST" id="form_data" enctype="multipart/form-data">
				<div class="row">
					<input name="file_upload_type" id="file_upload_type" style="display: none;" value="user_data"/>
					<div class="col-3" id="data_up_select">
						<label style="font-weight: bold; color: #666">Choose data to upload: </label>
						<div class="form-check">
							<label class="form-check-label" for="usr_up">
								<input type="radio" id='usr_up' value="usr_data" name="data_up" checked>
								Upload Your Own Data
							</label>
						</div>
						<div class="form-check">
							<label class="form-check-label" for="samp_up">
								<input type="radio" id='samp_up' value="samp_data" name="data_up">
								Choose Example Data
							</label>
									
						</div>
					</div>
			
			
			<div class="col-9">
			<div class="col-9" style="vertical-align: middle;">
				<form action="predict_result" method="POST" enctype="multipart/form-data" id="form_data">
					<!-- <div class="row"> -->
					<div id="pred_usr_data" class="row">
						{% csrf_token %}
						<input name="select_model" id="select_model" style="display: none;" value=""/>
						<!-- <div class="custom-file mb-3">
						      <input type="file" class="custom-file-input" id="customFile" name="filename">
						      <label class="custom-file-label" for="customFile">Choose Profile</label>
						</div> -->
						<h6>Model: <input type="file" name="upload_model" id="upload_model" /></h6>
						<h6>File: <input type="file" name="upload_file" id="upload_file" /></h6>
					<br></br>
					<p><b> Model: </b> Please upload the pickle file model downloaded from ML Analysis </p>
					<p><b> File: </b>  Please upload a csv file with features in rows and samples in columns and no larger than 200MB.</p>
					</div>

				</form>

			</div>
			
			
			<div id="pred_samp_data" class='row' style="display: none;">
				<div class="col-12" id="sample_select" display="none">
					<h6>Model: <input type="file" name="upload_model2" id="upload_model2" /> Please upload the pickle file model downloaded from ML Analysis.</h6> 
					<p />
					<!-- <table border="1" style="border: #000000;background-color: #f8f9fa;text-align: center;"> -->
					<table width="90%" class="" >
						<thead>
						<tr>
							<th> Example </th>
							<th> Description </th>
							<th> Source </th>
							<th> Download data</th>
							<th> Download model </th>
						</tr>
						</thead>
						<tr>
							<td>Binary Classfication</td>
							<td>LUAD and LUSC are classified based on gene expression profiles</td>
							<td><a href="https://xenabrowser.net/">UCSC Xena</a></td>
							<td><a href="download/binary_pred.csv">download</a></td>
							<td><a href="download/Binary_RandomForest.pkl">RandomForest</a></td>
						</tr>
						<tr>
							<td>Multiclass Classfication</td>
							<td>LUAD, LUSC and KIRC are classified based on gene expression profiles</td>
							<td><a href="https://xenabrowser.net/">UCSC Xena</a></td>
							<td><a href="download/multi_pred.csv">download</a></td>
							<td><a href="download/Multiclass_XGBoost.pkl">XGBoost</a></td>
						</tr>
						<tr>
							<td>Regression</td>
							<td width="400px">Tumor purity of KIRC is predicted based on gene expression profile</td>
							<td>
								<a href="https://xenabrowser.net/">UCSC Xena</a><br />
							</td>
							<td><a href="download/reg_pred.csv">download</a></td>
							<td><a href="download/Regression_Lasso.pkl">Lasso</a></td>
						</tr>
						<tr>
							<td>Survival</td>
							<td>Survival in GBM is predicted based on gene expression profile</td>
							<td>
								<a href="http://www.cgga.org.cn">CGGA</a>
							</td>
							<td><a href="download/survival_pred.csv">download</a></td>
							<td><a href="download/Survival_ExtraSurvivalTrees.pkl">ExtraSurvivalTrees</a></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
		<hr />
		<p />
		<button type="button" id="button_submit" onclick="form_sub()" class="btn btn-info" style="width: 100%;">Submit</button>
		<br />
		<br />
			<!-- <br />
			<h4>Step3</h4>
			<hr >
			<div class="col-9">
				<form action="cp_result" method="POST" enctype="multipart/form-data">
					<div>
						{% csrf_token %}
						<input name="select_model" id="select_model" style="display: none;"/>
						<div class="row">
							<input type="radio" name="pick_method" value="selectbest" checked />selectbest
						</div>
						<br />
						<div class="row">
							<input type="radio" name="feature_select_method" value="TopK" checked />TopK 
							<input type="radio" name="feature_select_method" value="FSS" />FSS 
							<input type="radio" name="feature_select_method" value="BSS" />BSS 
						</div>
					</div>
				</form>
			</div>
			
			<br />
			<h4>Step4</h4>
			<hr >
			<div class="row">
				<div class="col-6">
					<button type="button" onclick="window.location.href='/mlserver/analysis_oneclick'" class="btn btn-info" style="width: 100%;">One-click Analysis</button>
				</div>
				<div class="col-6">
					<button type="button" onclick="window.location.href='/mlserver/analysis_perpara'" class="btn btn-info" style="width: 100%;background: #99c3c7;border: #99c3c7;height: 40.25px;">Personalized Parameters Analysis</button>
				</div>				
			</div> -->
		</div>
		<!-- 底部 -->
		{% include 'public_templates/footer.html' %}
		<script>
			function form_sub() {
				// $("#form_data").submit()
			}
			
			$(document).ready(function() {
					$("#button_submit").hide()
					// $("#cp_model_select").hide()
					// $("#cp_model_detail").hide()
					
					// $("#survival_child_model").hide()
					// $("#regression_child_model").hide()
					
					// $("#alphas").hide();
			// 		$("#button_oc").click(function() {
			// 			var temp_action = $("#form_step23").attr("action")
			// 			var temp_action = (temp_action + "_oc_result").replace("_cp_result","")
			// 			$("#form_step23").attr("action",temp_action)
			// 			$(this).attr("style", "width: 100%;");
			// 			$("#button_cp").attr("style", "width: 100%;background: #99c3c7;border: #99c3c7;height: 40.25px;");
			// 			$("#cp_model_select").hide()
			// 			$("#button_submit").show()
			// 			$(".cp_model_detail").hide()
			// 		})
			
			// 		$("#button_cp").click(function() {
			// 			var temp_action = $("#form_step23").attr("action")
			// 			var temp_action = (temp_action + "_cp_result").replace("_oc_result","")
			// 			$("#form_step23").attr("action",temp_action)
			// 			$(this).attr("style", "width: 100%;");
			// 			$("#button_oc").attr("style", "width: 100%;background: #99c3c7;border: #99c3c7;height: 40.25px;");
			// 			$("#button_submit").hide();
			// 			$("#cp_model_select").show();
			// 			$("#cp_model_detail").show();
			// 			$("*[id^=task_]").attr('class','card');
			// 			$("*[id^=detail_]").hide();
			// 		});
					
					$("#model_bclass").click(function(){
						// $("#classification_child_model").show()
						// $("#regression_child_model").hide()
						// $("#survival_child_model").hide()
						
						
						// $("#select_child_model").val("task_naivebayes")
						$("*[id^=model_]").attr('class','card');
						$(this).attr('class','card select');
						var id = $(this).attr('id');
						$("#select_model").val(id)
						// document.getElementById('task_naivebayes').className = 'card select';
						// $("*[id^=detail_]").hide();
						$("#button_submit").show()
					})
					
					$("#model_mclass").click(function(){
						// $("#classification_child_model").show()
						// $("#regression_child_model").hide()
						// $("#survival_child_model").hide()
						
						// var temp_action = $("#form_step23").attr("action")
						// var temp_action = ("classification_" + temp_action).replace("_classification","").replace("_regression","").replace("_survival","")
						// $("#form_step23").attr("action",temp_action)
						// $("#select_child_model").val("task_naivebayes")
						$("*[id^=model_]").attr('class','card');
						$(this).attr('class','card select');
						var id = $(this).attr('id');
						$("#select_model").val(id)
						// document.getElementById('task_naivebayes').className = 'card select';
						// $("*[id^=detail_]").hide();
						$("#button_submit").show()
					})
					
					$("#model_reg").click(function(){
						// $("#regression_child_model").show()
						// $("#classification_child_model").hide()
						// $("#survival_child_model").hide()
						
						// var temp_action = $("#form_step23").attr("action")
						// var temp_action = ("regression_" + temp_action).replace("_classification","").replace("_regression","").replace("_survival","")
						// $("#form_step23").attr("action",temp_action)
						// $("#select_child_model").val("task_linearregression")
						$("*[id^=model_]").attr('class','card');
						$(this).attr('class','card select');
						var id = $(this).attr('id');
						$("#select_model").val(id)
						// $("*[id^=detail_]").hide();
						$("#button_submit").show()
						// document.getElementById('task_linearregression').className = 'card select';
					})
					
					$("#model_sur").click(function(){
						// $("#survival_child_model").show()
						// $("#classification_child_model").hide()
						// $("#regression_child_model").hide()
						
						// var temp_action = $("#form_step23").attr("action")
						// var temp_action = ("survival_" + temp_action).replace("_classification","").replace("_regression","").replace("_survival","")
						// $("#form_step23").attr("action",temp_action)
						// $("#select_child_model").val("task_survivalsvm")
						$("*[id^=model_]").attr('class','card');
						$(this).attr('class','card select');
						var id = $(this).attr('id');
						$("#select_model").val(id)
						// $("*[id^=detail_]").hide();
						$("#button_submit").show()
						// document.getElementById('task_survivalsvm').className = 'card select';
					})

				})
					$("#button_submit").click(function () {
						// if ($("#upload_file").val() == "" || $("#upload_model").val() == "") {
						// 	alert("Please select a file and upload!");
						// } else {
						// 	$("#form_data").submit();
						// }
						if ($("#file_upload_type").val() == 'user_data'){
							if ($("#upload_file").val() == "" && $("#upload_model").val() == "") {
								alert("Please select a file and upload!");
							} else {
							    $("#form_data").submit();
							}
						} else if ($("#upload_model2").val() == ""){
							alert("Please select a model and upload!");
							
						}else{
							 $("#form_data").submit();
						}
						
						
					})

					
					
				$('input[type=radio][name=data_up]').change(function() {
				    if (this.value == 'samp_data'){
						$('#pred_usr_data').hide();
						$('#pred_samp_data').show();
						
					}
					else{
						$('#pred_usr_data').show();
						$('#pred_samp_data').hide();
						
					}
				});
				$('input[name="samp_data"]').click(function () {
					// console.log(this)
				    $(this).tab('show');
					$(this).removeClass('active');
				});
				
				$("#usr_up").click(function (){
					$("#file_upload_type").val('user_data')
				})
				$("#samp_up").click(function (){
					$("#file_upload_type").val('example_data')
				})
				
				// $("*[id^=task_]").click(function() {
				// 	$("*[id^=detail_]").hide();
				// 	var a = $(this).attr('id')
				// 	var detail_id = "#detail_" + a.replace('task_','')
				// 	$(detail_id).show();
				// 	$("#select_child_model").val(a);
				// 	$("#button_submit").show();
				// })
				
		{% if messages %}
		window.onload=function(){
							{% for msg in messages %}
								alert('{{msg.message}}');
							{% endfor  %}
		}
		{%  endif %}
				
			</script>
		</script>
	</body>
	
</html>
