<!DOCTYPE html>
<html>
	<head>
		<title>ANALYSIS</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% include 'public_templates/bootstrap.html' %}
		<script src="https://cdn.plot.ly/plotly-2.8.3.min.js"></script>
<!-- 		<script crossorigin="anonymous" integrity="sha512-vMD/IRB4/cFDdU2MrTwKXOLmIJ1ULs18mzmMIWLCNYg/nZZkCdjBX+UPrtQdkleuuf0YaqXssaKk8ZXOpHo3qg=="
		 src="https://lib.baomitu.com/echarts/5.0.1/echarts.min.js"></script> -->
		 <!-- DataTables CSS -->
		 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"> 
		 <!-- jQuery -->
		 <!-- <script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.10.2.min.js"></script> -->
		 <!-- DataTables -->
		 <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
		 <script type="text/javascript" charset="utf8" src="https://cdn.bootcdn.net/ajax/libs/datatables-buttons/2.2.3/js/dataTables.buttons.js"></script>
		 <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>		
		 <!-- responsive -->
		 <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>		 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css">
		<style type="text/css">
			
			.dataTable {
				text-align: center;
				vertical-align: middle !important;
			}
			
			#home span {
				background-color: aliceblue;
			}

			.btn.btn-outline-danger {
				height: 38px;
				/* margin-top: 30px; */
			}

			#one_class_test_form .form-row {
				margin: 0;
				padding: 0;
				height: 40px;
			}

			/* table tbody {
				font-size: 5px;
			} */
			table * {
				font-size: 15px;
			}
			
			#list-item-1,
			#list-item-2,
			#list-item-3,
			#list-item-4,
			#list-item-5,
			#list-item-6,
			#list-item-7,
			#list-item-8,
			#list-item-9,
			#list-item-10{
				padding-top: 10px;
				padding-bottom: 10px;
				padding-left: 1rem;
			}
			
			.list-group-item.active {
				background-color: #17a2b8;
				border: 1px solid rgba(0, 0, 0, .125);
			}
			#list-example a {
				padding-left: 15px;
			}
			
			h3 {
				/* color: cornflowerblue; */
				color: #17a2b8; margin-bottom: 20px;
				font-weight: bolder;
			}
			
/* 			div.dataTables_wrapper {
			        width: 800px;
			        margin: 0 auto;
			    } */
		</style>
		<script>
			$(document).ready(function(){
			// 导航栏

			var id = '{{projectid}}'
			if (id.substring(0,4) == "PRED") {
				$("#nav_predict").addClass("active");
				$("tbody").addClass("bg-white");
				$("#page_title").text('PREDICT');
			} else{
				$("#nav_tools").addClass("active");
				$("tbody").addClass("bg-white");
				$("#page_title").text('ANALYSIS');
			}
			
			});
		</script>
	</head>
	<body data-spy="scroll" data-target="#list-example" style="padding-top: 0px;">
		<!-- 导航栏 -->
		{% include 'public_templates/nav_tem.html' %}
		
		<div id="loading">loading...</div>
		<!-- 主体内容 -->
		<div class="container col-9" id="main" style="display: none;">
			<br />
			<div class="row">
				<div class="col-2 d-none d-xl-block" style="">
				</div>
				<div class="col-xl-9 col-lg-12">
					
					<form action="{{form_action}}/{{ projectid }}" id="status_form" method="POST" >
						{% csrf_token %}
						<div class="col">
							<div class="row">
								<h2>PROJECTID: {{ projectid }}</h2>
							</div>
						</div>
						
						<hr />
						<div class="col">
							<div class="row">
								<h2 id="status">STATUS: {{ status|safe }}</h2>
							</div>
						</div>
						<div class="col-12">
							<div class="row">
								<div class="col">
									<h3 class="panel-heading" id="list-item-9" style="margin: 1rem 0 0rem 0 ;background-color: #17a2b8;color: #ffffff;">
										Input Data Information
									</h3>
									<table id="data_stat" class="display" style="width: 100%;" lazyload="True">
										 <thead>
											{% if projectid|slice:':4' != 'PRED' %}
											<tr>
												<th>Class</th>
												<th>Train</th>
												<th>Test</th>
												<th>Blind</th>
											</tr>
											{% else %}
											<tr>
												<th>Class</th>
												<th>Blind</th>
												<th>Validation</th>
											</tr>
											{% endif %}
										</thead>
									</table>
									<br />
									<h3 class="panel-heading" id="list-item-9" style="margin: 1rem 0 0rem 0 ;background-color: #17a2b8;color: #ffffff;">
										Visualization of Data Distribution
									</h3>
									<div style="display: flex;">
										<div id="histplotDiv" style="margin: auto;text-align:center;width: 900px;"></div>
									</div>
									
								</div>
								
							</div>
						</div>
						<br />
						<div class="col">
							<div class="row">
								<div class="col">
									<h3 class="panel-heading" id="list-item-9" style="margin: 1rem 0 0rem 0 ;background-color: #17a2b8;color: #ffffff;">
										Preview of Data(top 50 rows)
									</h3>
									<table id="inputdata_display" class="display" style="width: 100%;" lazyload="True">
										 <thead>
											<tr id="data_display_cols">
												<!-- <th>Class</th>
												<th>Train</th>
												<th>Test</th>
												<th>Blind</th> -->
											</tr>
										</thead>
									</table>
								</div>
								
							</div>
						</div>
						<input name="projectid" id="projectid" style="display: none;" value="{{ projectid }}"/>
						<input name="feature_select_method" id="feature_select_method" style="display: none;" value="{{ feature_select_method }}"/>
						<input name="model_md5" id="model_md5" style="display: none;" value="{{ model_md5 }}"/>
					
					<br />
					<br />
					{% if status == 'Preview' %}
					<button type="button" id="button_submit" onclick="" class="btn btn-info" style="width: 100%;">Analysis</button>
					</form>
					{% else %}
					<div id="link">
						<h5><p><b>Please check the analysis status via this link:</b></p></h5>
						<h5><p><b><a id="link1" href="">www.inbirg.com/maler/{{form_action}}/{{projectid}}</a></b></p></h5>
						
					</div>
					{% endif %}
					<div id="link">
						<h5><p><b>Please check the analysis status via this link:</b></p></h5>
						<h5><p><b><a id="link2" href=""></a></b></p></h5>
						
					</div>
					<br />
					<br />
					
					
				</div>
			</div>
		</div>
		<!-- 底部 -->
		{% include 'public_templates/footer.html' %}

		<script>
			
			// }
			window.onpageshow = function(event) {
				if (event.persisted || window.performance &&
					window.performance.navigation.type == 2) {
					window.location.reload();
				}
			}
			$(document).ready(function() {
				
				$("#data_display_cols")[0].innerHTML = '{{title_str|safe}}'
				$("#link").hide();
				$("#button_submit").click(function () {
					window.location.replace(sublink);
					$("#status").innerHTML = 'STATUS: Running'
					$("#button_submit").hide();
					$("#link").show();
					$("#status_form").submit();
					console.log(sublink);
					
				});
				
				var sublink = '{{form_action|safe}}';
				console.log(sublink);
				// console.log(sublink.split('_')[1] == 'cp')
				var sublink2 =''
				if (sublink.split('_')[1] == 'cp') {
					sublink2 = sublink + '/prev/' + '{{projectid}}'
				} else {
					sublink2 = sublink + '/' + '{{projectid}}'
				};
				// console.log(sublink);
				$("#link1").attr('href', sublink2);
				$("#link2").attr('href', sublink2);
				
				$("#link1").text('www.inbirg.com/maler/' + sublink2);
				$("#link2").text('www.inbirg.com/maler/' + sublink2);
				// console.log($('#link1'))
			});
			var id = '{{ projectid|safe }}';
			// document.write(id)
			if (id.substring(0,4) == 'PRED'){
				$('#data_stat').DataTable({
					data: {{display_samples_dict|safe}},
					searching: false, 
					paging: false, 
					info: false,
					sort: false,
					columns: [
						{ 'data': 'class' },
						{ 'data': 'Blind' },
						{ 'data': 'Validation'},],
					}); 
				} else {
				$('#data_stat').DataTable({
					data: {{display_samples_dict|safe}},
					searching: false, 
					paging: false, 
					info: false,
					sort: false,
					columns: [
						{ 'data': 'class' },
						{ 'data': 'Train'},
						{ 'data': 'Test' },
						{ 'data': 'Blind' },
					],
				});
			}

				


			
			$('#inputdata_display').DataTable({
				data: {{inputdata_display|safe}},
				searching: false, 
				paging: false, 
				info: false,
				sort: false,
				// serverSide: true,
				  // processing: true,
				  // responsive: false, //关闭响应拓展
				  // scrollX: true,//设置X轴滚动
				  // scrollY: false,//设置X轴滚动
				  // scrollCollapse: true,//滚动折叠
				// "scrollX": true,
				// 'scrollY': "170px",
				// 'scrollY': "calc(100vh - 50px)",
				// order: [[ 4, "asc" ],[ 1, "desc"]],
				// "dom": "<'row'<'col-sm-12 col-md-1'B><'col-sm-12 col-md-8'i><'col-sm-12 col-md-3'f>>" +
				// 	"<'row'<'col-sm-12'tr>>" +
				// 	"<'row'<'col-sm-12 col-md-5'l><'col-sm-12 col-md-7'p>>",
				// buttons: [{
				// 	extend: 'csv',
				// 	text: "",
				// 	className: "icon_",
				// 	}],
				//使用对象数组，一定要配置columns，告诉 DataTables 每列对应的属性
				//data 这里是固定不变的，name，position，salary，office 为你数据里对应的属性
				columns: {{inputdata_columns|safe}}
			});
			var hist_layout = {
				plot_bgcolor: '#f8f9fa',
				paper_bgcolor: '#f8f9fa',
				margin: {
				  'b': 30,
				  'l': 60,
				  'r': 60,
				  't': 30
				},
			}
			$('#inputdata_display').wrapAll("<div style='overflow-x:auto;width:100%;overflow-y:auto;height:500px'>");
			Plotly.react('histplotDiv', {{ hist_trace|safe }},hist_layout);
			$("#loading").hide();
			$("#main").attr('style','');
		</script>
	</body>
</html>
