<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>django-websocket</title>
    <script  src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#send_message').click(function () {
                var socket = new WebSocket("ws://" + window.location.host + "/maler/test_websocket");
                socket.onopen = function () {
                    console.log('WebSocket open');//成功连接上Websocket
                    socket.send($('#message').val());//发送数据到服务端
                };
                socket.onmessage = function (e) {
                    console.log('message: ' + e.data);//打印服务端返回的数据
                    $('#messagecontainer').append('<p><span style="padding-left:30em;"> </span>' + JSON.parse(e.data).client_msg + '</p>');
                    $('#messagecontainer').append('<p>' + JSON.parse(e.data).server_msg + '</p>');
                };
            });
        });
    </script>
</head>
<body>

    <input type="text" id="message" value="input message！" />
    <button type="button" id="send_message">send message</button>
    <h1>Received Messages</h1>
    <div id="messagecontainer">

    </div>

</body>
</html>